<div class="row">
    <div class="col-md-4">
      <button mat-raised-button color="primary" routerLink="/forms/up">Ajouter</button>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div *ngIf="loader">
      <mat-table #table [dataSource]="dataSource" matSort>

       <!-- Position Column -->
       <ng-container matColumnDef="name">
         <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
         <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
       </ng-container>

       <!-- Name Column -->
       <ng-container matColumnDef="actions">
         <mat-header-cell *matHeaderCellDef > Actions </mat-header-cell>
         <mat-cell *matCellDef="let element">

           <button mat-raised-button color="yellow"   routerLink="/forms/up/{{element.id}}" > Modifier</button>
           <button mat-raised-button color="warn"   (click)="openDialog(element.id)" >  Effacer</button>

          </mat-cell>
       </ng-container>

       <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
       <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


    </mat-table>
    <mat-paginator #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    [showFirstLastButtons]="true">
     </mat-paginator>
</div>
  </div>

</div>
