
<mat-progress-bar mode="determinate" value="100"></mat-progress-bar>

<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="{'sidebar-collapse':open}"  class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<menu [triggerFn]="triggerMenu"  [activeLink]="activeLink"></menu>
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">


    <section class="content-header">
      <h1>
        {{title}}
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>


  <section class="content">
      <router-outlet (activate)='getPage(appOutlet)' #appOutlet="outlet"></router-outlet>
  </section>

</div>
<footer class="main-footer">
  <strong>Copyright &copy; 2018 <a href="">Exteam</a>.</strong> All rights
  reserved.
</footer>
</div>
