@import "./assets/css/template/skins/_all-skins.min.css";

@import "./assets/css/template/AdminLTE.css";

.wrapper{
  overflow-x: hidden;
  overflow-y: hidden;
}
menu{
  margin-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
